# Using glob syntax
syntax: glob

**/.*secrets*
**/.env
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
**/.venv
**/__pycache__
*.db
*.egg-info/
*.idea
*.local
*.py[cod]
*.so
*.sqlite
*.sqlite-shm
*.sqlite-wal
dist/
frontend-*/
logs/

# Using regexp syntax
syntax: regexp
