# Default environment
default:

  # Documented in LogSettings class
  log_level: info
  log_filename_prefix: main

  # Documented in EnvSettings class
  env_id: Runtime
  env_kind: TEMP
  env_tenant: temp_tenant
  env_packages:
    - cl.runtime
    - stubs.cl.runtime

  # Documented in DbSettings class
  db_id: temp_runtime_main
  db_type: SqliteDb

  # Documented in ApiSettings class
  #   - Default CORSMiddleware settings are only applied on localhost
  #   - If this group of settings is omitted, the app will run on localhost:7008
  api_hostname: localhost
  api_port: 7008

  # CORSMiddleware settings in ApiSettings class, uncomment and modify if not running in localhost
  # api_allow_origins:
  #   - 127.0.0.1
  # api_allow_origin_regex: null
  # api_allow_credentials: True
  # api_allow_methods:
  #   - "*"
  # api_allow_headers:
  #   - "*"
  # api_expose_headers: null
  # api_max_age: null

  # Documented in PreloadSettings class
  preload_dirs:
      - preloads/cl
      - preloads/stubs

  # Documented in CelerySettings class
  celery_broker_uri: sqlalchemy+sqlite:///{project_dir}/celery-{context_id}.db
  celery_multiprocess_pool: true  # Enable multiprocess worker pool
  celery_workers: 8  # Number of worker processes
  celery_pool_type: solo  # Each worker uses solo pool
  celery_worker_restart_interval: 30  # Restart workers if unresponsive for 30 seconds
  celery_worker_log_level: info

  # Documented in FrontendSettings class
  frontend_version: 2025.1217.0

# Test environment
testing:

  # Documented in QaSettings class
  qa_db_types:
    - SqliteDb
    - BasicMongoMockDb

  # Documented in LogSettings class
  log_filename_prefix: tests
