@echo off

call activate

set PYTHONPATH={% for package in packages %}.\{{ package }};{% endfor %}%PYTHONPATH%

echo.
echo Initialize DB (error if not a DEV or TEST DB)
python -m tools.cl.runtime.init_db

