@echo off

call activate

set "dirs={% for package in packages %}{{ package }}{% if not loop.last %} {% endif %}{% endfor %}"

echo.
echo Run scripts in each package
for %%d in (%dirs%) do (
    echo Running scripts in %%d
    pushd %%d
    for %%f in (run_formatters.cmd) do (
        echo Running %%f
        call %%f
    )
    popd
)

