@echo off

call activate

set PYTHONPATH={% for package in packages %}.\{{ package }};{% endfor %}%PYTHONPATH%
set "dirs={% for package in packages %}{{ package }}{% if not loop.last %} {% endif %}{% endfor %}"

echo.
echo Run tests in each package
for %%d in (%dirs%) do (
    echo Running scripts in %%d
    pytest %%d\tests
)

