body {
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
    background: linear-gradient(180deg, #3D73DB 0%, #75A4FF 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;

}

.main{
    display: grid;
    justify-items: center;
    gap: 24px;
    width: 100%;
}

.card {
    background: #fff;
    width: 100%;
    max-width: 700px;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0px 0px 16px 0px #0000004D;
    text-align: center;
    border: 1px solid #E0E0E0;
    display: grid;
    gap: 12px;
    min-height: 340px;
    align-content: start;
}

.logo img {
    height: 48px;
}

h1,p {
    margin: 0;
}

h1 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #141414;
}

hr {
    border: none;
    border-top: 1px solid #E0E0E0;
    width: 100%;
    height: 1px;
    margin: 0;
}

ol {
    text-align: left;
    font-size: 15px;
    line-height: 1.6;
    margin: 0;
    color: #141414;
    padding-left: 12px;
}

ul {
    text-align: left;
    font-size: 15px;
    line-height: 1.6;
    margin: 0;
    color: #141414;
    padding-left: 12px;
}

li {
  text-align: left;
}

a {
    color: #4580F2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}